<launch>

  <include file="$(find asv_simulator)/launch/asv.launch">
    <arg name="u_d" value="3.0" />
    <arg name="namespace" value="asv" />
    <arg name="shipname" value="asv" />
    <arg name="initial_state" value="[0., 0., 0., 0., 0., 0.]" />
  </include>

  <include file="$(find asv_system)/launch/map_server.launch">
    <arg name="mapfile" value="$(find asv_system)/config/maps/empty.yaml" />
  </include>
  <!-- <node pkg="asv_simulator" name="map_mesh_node" type="meshpublisher.py" respawn="false" output="screen" /> -->


  <node name="light_scan_sim" pkg="light_scan_sim" type="light_scan_sim_node" output="screen">
    <rosparam file="$(find light_scan_sim)/config/config_asv.yaml" command="load" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find asv_simulator)/config/rviz/two_vessels.rviz" />

</launch>
